@{
	ViewData["Title"] = "خانه";
}

<section class="hero-section overflow-hidden">
	<div class="shapes">
		<div class="shape shape-1"><img alt="shape" src="assets/img/shapes/hero-shape-2.png" /></div>
		<div class="shape shape-2"><img alt="shape" src="assets/img/shapes/hero-shape-3.png" /></div>
		<div class="shape shape-3"><img alt="shape" src="assets/img/shapes/hero-shape-4.png" /></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-md-12">
				<div class="hero-content">
					<div class="section-heading mb-40">
						<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>به آموزش آنلاین خوش آمدید</h4>
						<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">شروع به یادگیری از<br /> جهان <span> بهترین نهادها </span></h2>
					</div>
					<div class="hero-btn-wrap">
						<a class="ed-primary-btn" href="contact.html">شروع کردن</a>
						<div class="hero-video">
							<div class="video-btn">
								<a class="video-popup venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/JwC-Qx1lJso">
									<div class="play-btn">
										<i class="fa-sharp fa-solid fa-play"></i>
									</div>فیلم را تماشا کنید
								</a>
							</div>
						</div>
					</div>
					<div class="hero-author">
						<ul>
							<li><img alt="img" src="assets/img/images/hero-author-1.png" /></li>
							<li><img alt="img" src="assets/img/images/hero-author-2.png" /></li>
							<li><img alt="img" src="assets/img/images/hero-author-3.png" /></li>
							<li><img alt="img" src="assets/img/images/hero-author-4.png" /></li>
						</ul>
						<h5><span>10 هزار</span>ثبت نام</h5>
					</div>
					<h4 class="bottom-text">کاوش کردن<span>1350+</span>دوره ها در موضوع</h4>
				</div>
			</div>
			<div class="col-lg-5 col-md-12">
				<div class="hero-img-wrap">
					<div class="hero-img">
						<img alt="hero" src="assets/img/images/hero-img-1.png" />
					</div>
					<div class="hero-img-shape"><img alt="shape" src="assets/img/shapes/hero-shape-1.png" /></div>
					<div class="hero-text-element">
						<h3 class="title">با <span class="odometer" data-count="256"></h3>
						<p>دوره های تصادف شده</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ hero-section -->
<section class="about-section pt-120 pb-120">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="about-img-wrap wow fade-in-left" data-wow-delay="400ms">
					<div class="about-img-1">
						<img alt="about" src="assets/img/images/about-img-1.jpg" />
						<div class="video-btn">
							<a class="video-popup venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/JwC-Qx1lJso">
								<div class="play-btn">
									<i class="fa-sharp fa-solid fa-play"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="about-img-2">
						<img alt="about" src="assets/img/images/about-img-2.jpg" />
					</div>
					<div class="about-contact">
						<div class="icon"><i class="fa-sharp fa-regular fa-phone-volume"></i></div>
						<div class="content">
							<span>پشتیبانی آنلاین</span>
							<a href="tel:+2581523659">+258 152 3659</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="about-content">
					<div class="section-heading mb-40">
						<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>اطلاعات بیشتری در مورد ما داشته باشید</h4>
						<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">بیش از 10 سال در یادگیری از راه دور<br />برای توسعه مهارت</h2>
						<p class="mt-20 wow fade-in-bottom" data-wow-delay="500ms">سهام عدالت به تعویق افتاد ، بازارها را با پیشرفت فرآیند کارآمد سرمایه گذاری کرد.همکاری های مهم و مهم را با پورتال های یکپارچه واقعی کنید.به طور معتبر معیارهای با ریسک کم و پتانسیل های پلاگین و بازی را بهینه کنید.</p>
					</div>
					<div class="about-counter-items wow fade-in-bottom" data-wow-delay="600ms">
						<div class="about-counter-item">
							<div class="icon"><img alt="about" src="assets/img/icon/about-1.png" /></div>
							<div class="content">
								<h3 class="title"><span class="odometer" data-count="9.5">0</span><span class="number">k+</span></h3>
								<p>کل دانشجویان فعال<br />دوره های با استعداد</p>
							</div>
						</div>
						<div class="about-counter-item">
							<div class="icon"><img alt="about" src="assets/img/icon/about-2.png" /></div>
							<div class="content">
								<h3 class="title"><span class="odometer" data-count="6.7">0</span><span class="number">k+</span></h3>
								<p>کل دانشجویان فعال<br />دوره های با استعداد</p>
							</div>
						</div>
					</div>
					<div class="about-btn wow fade-in-bottom" data-wow-delay="700ms">
						<a class="ed-primary-btn" href="about.html">آزمایش رایگان را شروع کنید</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ about-section -->
<section class="course-category pt-120 pb-120">
	<div class="container">
		<div class="section-heading text-center">
			<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>دسته های دوره ما</h4>
			<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">صنعت را در جایی که می خواهید یاد بگیرید انتخاب کنید</h2>
		</div>
		<div class="category-items wow fade-in-bottom" data-wow-delay="500ms">
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-1.png" /></span>مدیریت تجارت</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-2.png" /></span>هنر و طراحی</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-3.png" /></span>توسعه شخصی</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-4.png" /></span>سلامتی و تناسب اندام</a></div>
		</div>
		<div class="category-items wow fade-in-bottom" data-wow-delay="600ms">
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-5.png" /></span>بازاریابی</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-6.png" /></span>تجارت و امور مالی</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-7.png" /></span>علوم کامپیوتر</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-2.png" /></span>ویدئو و عکاسی</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-4.png" /></span>علم داده ها</a></div>
		</div>
		<div class="category-items wow fade-in-bottom" data-wow-delay="700ms">
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-1.png" /></span>آژانس راه اندازی آن</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-2.png" /></span>شرکت نرم افزاری</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-3.png" /></span>شرکت با تکنولوژی بالا</a></div>
			<div class="category-item"><a href="course-details.html"><span><img alt="icon" src="assets/img/icon/category-4.png" /></span>استودیوی بازی سه بعدی</a></div>
		</div>
	</div>
</section>
<!-- ./ course-category -->
<section class="promo-section pt-120 pb-120 overflow-hidden">
	<div class="bg-item">
		<div class="bg-shape-1"></div>
		<div class="bg-shape-2"></div>
	</div>
	<div class="shapes">
		<div class="shape shape-1"><img alt="shape" src="assets/img/shapes/promo-shape-1.png" /></div>
		<div class="shape shape-2"><img alt="shape" src="assets/img/shapes/promo-shape-2.png" /></div>
	</div>
	<div class="container">
		<div class="section-heading promo-heading text-center white-content">
			<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>چرا ما را انتخاب کنید</h4>
			<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">خود را در سراسر جهان کاوش کنید</h2>
		</div>
		<div class="row gy-lg-0 gy-4 justify-content-center promo-wrap">
			<div class="col-lg-4 col-md-6">
				<div class="promo-item white-content wow fade-in-bottom" data-wow-delay="200ms">
					<div class="promo-thumb">
						<img alt="promo" class="main-img" src="assets/img/images/promo-img-1.png" />
						<div class="icon"> <img alt="icon" src="assets/img/icon/promo-4.png" /></div>
					</div>
					<h3 class="title">مشاوره رایگان</h3>
					<p>استاندارد در مهارت های رهبری هم افزایی<br />تخصص بهینه و نه نوآورانه<br />مهارت های رهبری.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="promo-item white-content wow fade-in-bottom" data-wow-delay="400ms">
					<div class="promo-thumb">
						<img alt="promo" class="main-img" src="assets/img/images/promo-img-2.png" />
						<div class="icon"> <img alt="icon" src="assets/img/icon/promo-5.png" /></div>
					</div>
					<h3 class="title">پرداخت آسان</h3>
					<p>استاندارد در مهارت های رهبری هم افزایی<br />تخصص بهینه و نه نوآورانه<br />مهارت های رهبری.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="promo-item item-3 white-content wow fade-in-bottom" data-wow-delay="500ms">
					<div class="promo-thumb">
						<img alt="promo" src="assets/img/images/promo-img-3.png" />
						<div class="icon"> <img alt="icon" src="assets/img/icon/promo-6.png" /></div>
					</div>
					<h3 class="title">درس اول را برنامه ریزی کنید</h3>
					<p>استاندارد در مهارت های رهبری هم افزایی<br />تخصص بهینه و نه نوآورانه<br />مهارت های رهبری.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ promo-section -->
<section class="feature-course pt-120 pb-120">
	<div class="container">
		<div class="section-heading text-center">
			<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>دوره های کلاس بالا</h4>
			<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">دوره های برجسته را کاوش کنید</h2>
		</div>
		<ul class="course-nav nav nav-tabs mb-40" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button aria-controls="home" aria-selected="true" class="nav-link active" data-bs-target="#home" data-bs-toggle="tab" id="home-tab" role="tab" type="button">همه دسته بندی ها</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="profile" aria-selected="false" class="nav-link" data-bs-target="#profile" data-bs-toggle="tab" id="profile-tab" role="tab" type="button">تجارت</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact" aria-selected="false" class="nav-link" data-bs-target="#contact" data-bs-toggle="tab" id="contact-tab" role="tab" type="button">توسعه</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact-2" aria-selected="false" class="nav-link" data-bs-target="#contact-2" data-bs-toggle="tab" id="contact-tab-2" role="tab" type="button">بازاریابی</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact-3" aria-selected="false" class="nav-link" data-bs-target="#contact-3" data-bs-toggle="tab" id="contact-tab-3" role="tab" type="button">دارایی</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact-4" aria-selected="false" class="nav-link" data-bs-target="#contact-4" data-bs-toggle="tab" id="contact-tab-4" role="tab" type="button">بازی</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact-5" aria-selected="false" class="nav-link" data-bs-target="#contact-5" data-bs-toggle="tab" id="contact-tab-5" role="tab" type="button">طراحی</button>
			</li>
			<li class="nav-item" role="presentation">
				<button aria-controls="contact-6" aria-selected="false" class="nav-link" data-bs-target="#contact-6" data-bs-toggle="tab" id="contact-tab-6" role="tab" type="button">علم داده ها</button>
			</li>
		</ul>
		<div class="course-tab-content tab-content" id="myTabContent">
			<div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab-2" class="tab-pane fade" id="contact-2" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab-3" class="tab-pane fade" id="contact-3" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab-4" class="tab-pane fade" id="contact-4" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab-5" class="tab-pane fade" id="contact-5" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div aria-labelledby="contact-tab-6" class="tab-pane fade" id="contact-6" role="tabpanel">
				<div class="row gy-4 justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-1.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">React Tutorial Apartners برای مهارت های ساخت کاررا</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-1.png" />
										</div>
										<div class="author-info">
											<h4 class="name">کوین پری</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-2.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">دیدگاه های فرهنگی در محیط های آموزش و یادگیری</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-2.png" />
										</div>
										<div class="author-info">
											<h4 class="name">دنیل راس</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="course-item">
							<div class="course-thumb-wrap">
								<div class="course-thumb">
									<img alt="course" src="assets/img/images/course-img-3.png" />
								</div>
							</div>
							<div class="course-content">
								<span class="offer">رایگان</span>
								<h3 class="title"><a href="course-details.html">استراتژی های آموزشی نوآورانه<br />برای تقویت دانش آموز</a></h3>
								<ul class="course-list">
									<li><i class="fa-light fa-file"></i>درس 8</li>
									<li><i class="fa-light fa-user"></i>دانش آموزان 50</li>
									<li><i class="fa-light fa-eye"></i>مشاهده: 12 هزار</li>
								</ul>
								<div class="course-author-box">
									<div class="course-author">
										<div class="author-img">
											<img alt="course" src="assets/img/images/course-author-3.png" />
										</div>
										<div class="author-info">
											<h4 class="name">اندرو کلیپ</h4>
											<span>مربی</span>
										</div>
									</div>
									<ul class="course-review">
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li><i class="fa-sharp fa-solid fa-star"></i></li>
										<li class="point">(4.7)</li>
									</ul>
								</div>
							</div>
							<div class="bottom-content">
								<span class="price">59.00 تومان</span>
								<a class="course-btn" href="course-details.html">مشاهده جزئیات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ course-section -->
<section class="counter-section">
	<div class="container">
		<div class="row counter-wrap gy-lg-0 gy-5">
			<div class="col-lg-3 col-md-6">
				<div class="counter-item item-1 white-content wow fade-in-bottom" data-wow-delay="200ms">
					<h3 class="title">با<span class="odometer" data-count="3,192"></h3>
					<p>موفقیت آمیز آموزش دیده</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item white-content wow fade-in-bottom" data-wow-delay="400ms">
					<h3 class="title">با<span class="odometer" data-count="15,485"></h3>
					<p>کلاس ها به پایان رسیدند</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item white-content wow fade-in-bottom" data-wow-delay="500ms">
					<h3 class="title"><span class="odometer" data-count="97.55">0</span>٪</h3>
					<p>میزان رضایت</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item item-4 white-content wow fade-in-bottom" data-wow-delay="600ms">
					<h3 class="title"><span class="odometer" data-count="97.55">0</span>٪</h3>
					<p>میزان رضایت</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ counter-section -->
<section class="faq-section pt-120 pb-120">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 col-md-12">
				<div class="faq-img-wrap wow fade-in-left" data-wow-delay="400ms">
					<div class="faq-img">
						<img alt="faq" src="assets/img/images/faq-img.png" />
					</div>
					<div class="faq-text-box">
						<h4 class="student">کل دانشجویان</h4>
						<ul class="faq-thumb-list">
							<li><img alt="faq" src="assets/img/images/faq-thumb-1.png" /></li>
							<li><img alt="faq" src="assets/img/images/faq-thumb-2.png" /></li>
							<li><img alt="faq" src="assets/img/images/faq-thumb-3.png" /></li>
							<li><img alt="faq" src="assets/img/images/faq-thumb-4.png" /></li>
							<li class="number">25+</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-12">
				<div class="faq-content content-1">
					<div class="section-heading mb-30">
						<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>بیشتر س asked ال</h4>
						<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">داشبورد قدرتمند و چارچوب با کارایی بالا</h2>
					</div>
					<div class="faq-accordion">
						<div class="accordion" id="accordionExample">
							<div class="accordion-item wow fade-in-bottom" data-wow-delay="400ms">
								<h2 class="accordion-header" id="headingOne">
									<button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button"><span>01</span>چه دوره هایی را ارائه می دهید؟</button>
								</h2>
								<div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
									<div class="accordion-body">ما دوره های گسترده ای را در موضوعات مختلف از جمله علم ، فناوری ، مهندسی ، ریاضیات ، علوم انسانی و علوم اجتماعی ارائه می دهیم. دوره های ما برای سطح آموزش های مختلف ، از دبستان تا دانشگاه طراحی شده است.</div>
								</div>
							</div>
							<div class="accordion-item wow fade-in-bottom" data-wow-delay="200ms">
								<h2 class="accordion-header" id="headingTwo">
									<button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button"><span>02</span>چگونه معلمان می توانند به طور موثری یک کلاس متنوع را مدیریت کنند؟</button>
								</h2>
								<div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
									<div class="accordion-body">ما دوره های گسترده ای را در موضوعات مختلف از جمله علم ، فناوری ، مهندسی ، ریاضیات ، علوم انسانی و علوم اجتماعی ارائه می دهیم. دوره های ما برای سطح آموزش های مختلف ، از دبستان تا دانشگاه طراحی شده است.</div>
								</div>
							</div>
							<div class="accordion-item wow fade-in-bottom" data-wow-delay="200ms">
								<h2 class="accordion-header" id="headingThree">
									<button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button"><span>03</span>آموزش ویژه در کلاسهای فراگیر چگونه ارائه می شود؟</button>
								</h2>
								<div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
									<div class="accordion-body">ما دوره های گسترده ای را در موضوعات مختلف از جمله علم ، فناوری ، مهندسی ، ریاضیات ، علوم انسانی و علوم اجتماعی ارائه می دهیم. دوره های ما برای سطح آموزش های مختلف ، از دبستان تا دانشگاه طراحی شده است.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ faq-section -->
<section class="team-section">
	<div class="team-wrap pt-120 pb-120" data-background="assets/img/bg-img/team-bg.png">
		<div class="container">
			<div class="section-heading text-center">
				<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>مربیان ما</h4>
				<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">بهترین دوره های دنیای ما را کاوش کنید</h2>
			</div>
			<div class="row gy-xl-0 gy-4 justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="team-item wow fade-in-bottom" data-wow-delay="200ms">
						<div class="team-thumb">
							<img alt="team" src="assets/img/team/team-1.png" />
							<ul class="team-social">
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="teachers.html">Zaramane Mass Likan</a></h3>
							<span>معلمان آنلاین</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="team-item wow fade-in-bottom" data-wow-delay="400ms">
						<div class="team-thumb">
							<img alt="team" src="assets/img/team/team-2.png" />
							<ul class="team-social">
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="teachers.html">آملیا گریس لیلی</a></h3>
							<span>معلمان آنلاین</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="team-item wow fade-in-bottom" data-wow-delay="500ms">
						<div class="team-thumb">
							<img alt="team" src="assets/img/team/team-3.png" />
							<ul class="team-social">
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="teachers.html">میسون لوگان دی</a></h3>
							<span>معلمان آنلاین</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="team-item wow fade-in-bottom" data-wow-delay="600ms">
						<div class="team-thumb">
							<img alt="team" src="assets/img/team/team-4.png" />
							<ul class="team-social">
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
							</ul>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="teachers.html">ایزابلا شارلوت</a></h3>
							<span>معلمان آنلاین</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ team-section -->
<section class="content-section pt-120 pb-120 overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-img-wrap wow fade-in-left" data-wow-delay="400ms">
					<div class="content-img-1"><img alt="img" src="assets/img/images/content-img-1.png" /></div>
					<div class="content-img-2"><img alt="img" src="assets/img/images/content-img-2.png" /></div>
					<div class="content-img-3"><img alt="img" src="assets/img/images/content-img-3.png" /></div>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="content-info">
					<div class="section-heading mb-20">
						<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>چگونه سفر را شروع می کنیم</h4>
						<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">ما به زندگی شما اهمیت می دهیم<br />آینده بهتر</h2>
					</div>
					<p class="mb-30 wow fade-in-bottom" data-wow-delay="500ms">این شامل ارائه بازخورد شخصی ، تقویت احساس جامعه از طریق انجمن های بحث و گفتگو و پروژه های گروهی و ارائه پشتیبانی مداوم برای رسیدگی به چالش ها و بهبود است.</p>
					<div class="content-item mb-30 wow fade-in-bottom" data-wow-delay="600ms">
						<div class="icon"><img alt="icon" src="assets/img/icon/content-1.png" /></div>
						<div class="content">
							<h4 class="title">مربی معتبر استاد</h4>
							<p>این شامل ارائه بازخورد شخصی ، تقویت احساس جامعه از طریق بحث است.</p>
						</div>
					</div>
					<div class="content-item wow fade-in-bottom" data-wow-delay="700ms">
						<div class="icon"><img alt="icon" src="assets/img/icon/content-2.png" /></div>
						<div class="content">
							<h4 class="title">برنامه صدور گواهینامه مربی</h4>
							<p>این شامل ارائه بازخورد شخصی ، تقویت احساس جامعه از طریق بحث است.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ content-section -->
<section class="request-section" data-background="assets/img/bg-img/request-bg.png">
	<div class="bg-img" data-background="assets/img/images/request-img-1.png"></div>
	<div class="shape"><img alt="shape" src="assets/img/shapes/req-shape-1.png" /></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-xl-6 col-lg-12">
				<div class="request-content white-content pt-120 pb-120">
					<div class="section-heading white-content mb-20">
						<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>خبرنامه را مشترک کنید</h4>
						<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">بهترین دوره خود را با ما پیدا کنید</h2>
					</div>
					<p class="desc mb-20 wow fade-in-bottom" data-wow-delay="400ms">فن آوری های کیفیت از طریق روش های کاملاً آزمایش شده توانمندسازی. پس از تخصص عملکردی متقابل ، بهترین شیوه ها را فعال کرد.</p>
					<div class="request-form-wrapper wow fade-in-bottom" data-wow-delay="500ms">
						<form action="mail.php">
							<div class="form-items">
								<div class="form-item">
									<input class="form-control" id="name" name="name" placeholder="نام دوره" type="text" />
								</div>
								<div class="form-item">
									<input class="form-control" id="email" name="email" placeholder="آدرس ایمیل" type="text" />
								</div>
							</div>
						</form>
					</div>
					<div class="request-btn wow fade-in-bottom" data-wow-delay="600ms"><button class="ed-primary-btn">هم اکنون مشترک شوید</button></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ request-section -->
<section class="blog-section pt-120 pb-120">
	<div class="container">
		<div class="section-heading text-center">
			<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>اخبار و وبلاگ ها</h4>
			<h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">آخرین به روزرسانی های اخبار</h2>
		</div>
		<div class="row gy-md-0 gy-4">
			<div class="col-md-6">
				<div class="post-card post-card-1 wow fade-in-bottom" data-wow-delay="200ms">
					<div class="post-thumb">
						<img alt="post" src="assets/img/blog/post-1.jpg" />
					</div>
					<div class="post-content-wrap">
						<div class="post-content">
							<span class="category">یادگیری</span>
							<h3 class="title"><a href="blog-details.html">بازآفرینی مأموریت، عناصر اقدامات حیاتی زندگی، و نه کل ارتباط Suds.</a></h3>
							<ul class="post-meta">
								<li><i class="fa-sharp fa-regular fa-clock"></i>15 آذر 1404</li>
								<li><i class="fa-sharp fa-regular fa-folder"></i>بازاریابی</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="post-card post-card-1 wow fade-in-bottom" data-wow-delay="400ms">
					<div class="post-thumb">
						<img alt="post" src="assets/img/blog/post-2.png" />
					</div>
					<div class="post-content-wrap">
						<div class="post-content">
							<span class="category">یادگیری</span>
							<h3 class="title"><a href="blog-details.html">استراتژی های مدیریت استرس و جلوگیری از فرسودگی شغلی در آموزش</a></h3>
							<ul class="post-meta">
								<li><i class="fa-sharp fa-regular fa-clock"></i>15 آذر 1404</li>
								<li><i class="fa-sharp fa-regular fa-folder"></i>بازاریابی</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ./ blog-section -->