@using GtAcademy.Application.Authentication.Commands.VerifyPhoneNumber
@model VerifyPhoneNumberDto

@{
    ViewData["Title"] = "فعالسازی حساب";
}

<section class="contact-section pt-120 pb-120">
    <div class="container">
        <div class="row gy-lg-0 gy-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="blog-contact-form contact-form">
                    <h2 class="title mb-0">فعالسازی حساب</h2>
                    <p class="mb-30 mt-10">
                        لطفا کد پنج رقمی ارسال شده به شماره موبایل @Model.PhoneNumber را وارد کنید
                    </p>
                    <div class="request-form">
                        <form asp-action="VerifyPhoneNumber" class="form-horizontal" id="ajax_contact" method="post">
                            <input asp-for="@Model.PhoneNumber" type="hidden"/>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        <input asp-for="@Model.Code" class="form-control" id="Code" name="Code" placeholder="کد تایید" type="text" maxlength="5">
                                        <div class="icon">
                                            <i class="fa-regular fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="alert mt-20">
                                        <span asp-validation-for="@Model.Code"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-btn">
                                <button class="ed-primary-btn" id="submit" type="submit">
                                    تایید
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>